
 @media only screen and (max-width: 1150px) {.reignbg{background-size:cover;}}

@media only screen and (max-width: 992px) {
    .barbarism_image{padding-right:20%;width: 100%;
        max-width: 100%;
        height: auto;}
    .barbarismbg h2{padding-left:10%;margin-top:150px;}/*  this works but image doesnt ?? */
.barbarismbg p{padding-left:10%; margin-top:20px;}
.reignbg h2{padding-right:15%;} /* not working? */
.reignbg p{padding-right:15%;}} /* not working? */

