
/*  @media only screen and (max-width: 1150px) {} */




@media only screen and (max-width: 767px) {
  /*   .barbarismbg h2 {text:center;}  */

  .exhibit {margin-bottom: 10%;}
  .member {margin-bottom: 20%} 
  .barbarismbg h2{ margin-top: 0%;text-align:center;}
  .barbarismbg p {text-align:center;}
  .reckoningbg h2 {margin-top: 2%; text-align:center;}
  .reckoningbg p {text-align:center;}
  .reignbg h2 {text-align:center;}
  .reignbg p {text-align:center;}
  
  }




